# --- Données ---
data/*.csv
# Maintien du dossier data mais ignore les fichiers CSV
!data/.gitkeep 

# --- Python & Bytecode ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# --- Environnements Virtuels ---
.venv/
venv/
ENV/
env/

# --- Outils de qualité ---
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# --- Distribution / Packaging ---
# Suppression des binaires
build/
dist/
node_modules/
*.egg-info/
*.egg
*.whl

# --- Configuration UV ---
# maintien de pyproject.toml et uv.lock, mais ignore le cache
.uv/

# --- IDE & Système ---
.DS_Store
.vscode/
.idea/
*.swp
*.swo

# --- Docker ---
.docker/